/* styles.css */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0;
    background-color: #1F2937;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    gap: 50px;
    background-color: #1F2937;
}

.container {
    max-width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 450px;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: .5em 2em;
    border-radius: .5em;
    color: #F9FAF8;
    font-weight: bold;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.information {
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    color: #1F2937;
    font-size: 14px;
}

.emptybox {
    width: 150px;
    height: 150px;
    border: 1px solid lightblue;
    background: transparent;
    border-radius: 10px;
    border-width: 2px;
    
}

.quote {
    display: flex;
}

.lowerbanner {
    /* display: flex; */
}

.lowercontainer {
    display: flex;
}

