/* styles.css */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0;
    background-color: #1F2937;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    gap: 50px;
    background-color: #1F2937;
    /* flex: auto; */
}

.container {
    max-width: 500px;
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 450px;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: .5em 2em;
    border-radius: .5em;
    color: #F9FAF8;
    font-weight: bold;
}

.bannerimage {
    flex: 0 1 auto;
    flex-basis: 500px;;
    /* max-width: 100px; */
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.linkclass {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.information {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 75px;
}

.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    color: #1F2937;
    font-size: 14px;
}

.projectbox {
    width: 150px;
    height: 150px;
    border: 1px solid #3882F6;
    background: transparent;
    border-radius: 15px;
    border-width: 4px;
}

a {
    max-width: 100%;    
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 3em 10%;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    align-items: center;
}

.quotecontainer {
    max-width: 1100px;
}

#quoteauthor {
    padding-top: 0;
    text-align: end;
    color:darkslateblue;
}

.lowerbanner {
    display: flex;
    flex-shrink: 1;
    margin: 2em 10%;
    /* max-width: 800px; */
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    background-color: #3882F6;
    border-radius: 10px;
    border-style:solid;
    border-width: 3px;
    border-color:darkorange;
}

.lower-text {
    /* display: flex; */
    color: #F9FAF8;
    /* max-width: 80%; */
    /* padding: 1em 0; */
}

.lower-text h4 {
    font-size: 28px;
    font-weight: 1000;
    margin: 0;
    padding: 0;
}

.lower-text p {
    font-weight: 400;
    padding-top: .25em;
    margin: 0;
}

.footer {
    /* display: block; */
    background-color: #1F2937;
    text-align: center;
    color:#F9FAF8;
    padding: 1em;
}

